body {
    align-items: center;
    background-color: aqua;
}

thumbImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border: 2px;
    border-radius: 5px;
    padding: 8px;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border: 2px;
    border-radius: 5px;
    padding: 8px;
}